*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: averia serif libre;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* ------- card ------- */

#card {
  position: relative;
  height: 33rem;
  width: 24rem;
  background-image: url("https://i.pinimg.com/originals/46/bf/4e/46bf4e33dcc634417b20037b57ee51e1.jpg");background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.card {
  position: absolute;
  z-index: 1;
}

#name {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  top: 5.5%;
  left: 9%;
}

#art {
  height: 44%;
  width: 83%;
  left: 8.5%;
  top: 11.5%;
}

#mana {
  height: 5%;
  width: 40%;
  top: 5%;
  right: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mana {
  position: relative;
  height: 3.25vh;
  width: 3.25vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mana::before {
  content: '';
  position: absolute;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 50%;
  z-index: -2;
  box-shadow: -1px 2px 0 black;
}

.mana:hover {
  transform: scale(1.25);
}

.manasymbols {
  position: absolute;
  height: inherit;
  padding: 15% 0 0 10%;
}

#whitemana {

}

#whitemana::before {
  background-color: hsl(56deg 100% 91%);
}

#bluemana {

}

#bluemana::before {
  background-color: hsl(196deg 69% 80%);
}

#blackmana {

}

#blackmana::before {
  background-color: hsl(30deg 9% 75%);
}

#redmana {

}

#redmana::before {
  background-color: hsl(16deg 75% 74%);
}

#greenmana {

}

#greenmana::before {
  background-color: hsl(138deg 35% 69%);
}

#type {
  color: black;
  font-size: 1.25em;
  font-weight: bold;
  top: 57%;
  left: 9%;
}

#static {
  width: 75%;
  top: 64%;
  left: 10%;
}

#action1 {
  height: 4%;
  width: 50%;
  top: 74%;
  left: 10%;
  display: flex;
  align-items: center;
}

#tap {
  height: 1em;
}

#stats {
  width: 15%;
  height: 6%;
  top: 89.5%;
  right: 9%;
  font-size: 150%;
  font-weight: bolder;
  text-align: center;
}

#fineprint {
  font-size: 0.75em;
  top: 92%;
  left: 8%;
  display: flex;
  flex-direction: column;
}

#year {
  font-weight: bold;
  font-size: 1.1em;
}

/* ------- bio ------- */

#bio {
  width: 33%;
  margin: 2rem;
}

#bio p {
  padding: 0.5rem;
  transition: transform, box-shadow 0.25s ease-in-out;
  border-radius: 15px;
}

#bio p:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px currentColor;
  transition: all 0.25s ease-in-out;
}